<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="trigger">
        {%- comment -%}
        You can use {{- site.title -}} instead of "Home"
        {%- endcomment -%}
        <a class="page-link" href="{{- site.baseurl -}}/">Home</a>
        {%- assign sorted_pages = site.pages | where: "nav", true | sort: "nav_order" -%}
        {%- for page in sorted_pages -%}
          <a class="page-link" href="{{- page.url | prepend: site.baseurl -}}">{{- page.title -}}</a>
        {%- endfor -%}
      </div>
    </nav>
  </div>
</header>

