<section class="section about">
    <div class="section__title">About</div>
    <div class="section__content">
      {% capture introduction_content %}{% include about-me.md %}{% endcapture %}
      {{ introduction_content | markdownify }}
    </div>
  </section>

  <!-- <section class="section contact">
    <div class="section__title">Contact</div>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:web@meimei.lol" target="_blank" class="highlight-link">web@meimei.lol</a>
    </span>
</section> -->